section.wrapper{
    text-align: center;
    width: 100%;
}

body{
   background-color: black;
   color: white;
   width: auto;
   height: auto;
}

/* ------------------------------------------------------ */
/*Form - User inputs Name */
 #forms{
    /* display: none;  */
    text-align: center;
    position: absolute;
    top: 30%;
    width: 100%;
    height: auto;
    margin: 20px;
}

#submitButton{
    text-shadow: 50%;
    background-color: whitesmoke;
    color: black;
    border-radius: 3px;
}

#submitButton:hover{
    text-shadow: 50%;
    background-color: aqua;
    color: black;
}
/* ------------------------------------------------------ */


#introScreen {
    /* display: none; */
    width: 100%;
    height: 100%;
    margin-top: 0;
}
#introButton {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;

    cursor: pointer;

    font-size: 15px;
    font-weight: bold;
    text-align: center; 

    background-color: transparent;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
}

#introButton:hover{
    background-color: transparent;
    color:aqua;
}

/* ------------------------------------------------------ */

#rulesHelp{
    display: none;
}

.keys{
    text-align: left;
}

#helpButtons{
    display: none;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    position: relative;
    top: 90%;
    left: 50%;

    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;

    text-align: center; 
    background-color: transparent;
    color: whitesmoke;
}

#helpButtons:hover{
    background-color: aqua;
    color: black;
}
/* ------------------------------------------------------ */

#splashScreen{
    display: none;   

} 

#splashButton{
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: lightgray; 

    color: black;
    font-size: 15px;
    font-weight: bold;    

    padding: 10px 20px;  
    width: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
} 

#splashButton:hover{
    background-color: aqua; 
    color: black;
    box-shadow: 2px 2px rgb(92, 92, 250);
} 

.exit{
    position: absolute;
    top: 90%;
    left: 10%;
}

.play{
    position: absolute;
    top: 90%;
    left: 50%;
}

/* .sound{
    position:absolute;
    top: 90%;
    right: 35%;
} */

.help{
    position: absolute;
    top: 90%;
    right: 10%;
}


/* ------------------------------------------------------ */
canvas{
    width: 80%;
    height: 0%;
    text-align: center;
}

/* ------------------------------------------------------ */


/* ------------------------------------------------------ */
/* To make canvas and web body responsive */

@media only screen and (max-width: 1500px) {
    body{
        width: 100%;
        height: 90%;
    }
    canvas{
        width: 80%;
        height: 90%;
    }
  }

  @media only screen and (max-width: 1250px) {
    body{
        width: 100%;
        height: 90%;
    }
    canvas{
        width: 80%;
        height: 90%;
    }
    
  }

  @media only screen and (max-width: 1000px) {
    body{
        width: 100%;
        height: 90%;
    }
    canvas{
        width: 80%;
        height: 90%;
    }
  }

  @media only screen and (max-width: 750px) {
    body{
        width: 100%;
        height: 90%;
    }
    canvas{
        width: 80%;
        height: 90%;
    }
  }

  @media only screen and (max-width: 500px) {
    body{
        width: 100%;
        height: 90%;
    }
    canvas{
        width: 80%;
        height: 90%;
    }
  }

  @media only screen and (max-width: 250px) {
    body{
        width: 100%;
        height: 90%;
    }
    canvas{
        width: 80%;
        height: 90%;
    }
  }

/* ------------------------------------------------------ */